<div class="card-header">
  <div class="d-flex justify-content-start">
    <div class="align-self-center">
      <h3>{{promotion.name}}</h3>
    </div>
    <div class="ml-auto">
      <p>
        Start date: {{moment-format promotion.startDate "DD/MM/YYYY"}}
      </p>
      <p>
        {{#if promotion.endDate}}
          End date: {{moment-format promotion.endDate "DD/MM/YYYY"}}
        {{else}}
          Runs indefinitely
        {{/if}}
      </p>
    </div>
  </div>
</div>
<div class="card-block">

  <h4>Effects</h4>
  <ul>
    {{#if promotion.itemsPercentageDiscount}}
      <li>
        {{promotion.itemsPercentageDiscount}}% off items
      </li>
    {{/if}}
    {{#if promotion.itemsAbsoluteDiscount}}
      £{{promotion.itemsAbsoluteDiscount}} off items
    {{/if}}
    {{#if promotion.deliveryPercentageDiscount}}
      <li>
        {{promotion.deliveryPercentageDiscount}}% off delivery
      </li>
    {{/if}}
    {{#if promotion.deliveryAbsoluteDiscount}}
      <li>
        £{{promotion.deliveryAbsoluteDiscount}} off delivery
      </li>
    {{/if}}
    {{#if promotion.totalPercentageDiscount}}
      <li>
        {{promotion.totalPercentageDiscount}}% off total basket
      </li>
    {{/if}}
    {{#if promotion.totalAbsoluteDiscount}}
      <li>
        £{{promotion.totalAbsoluteDiscount}} off total basket
      </li>
    {{/if}}
  </ul>

  <h4>Restrictions</h4>
  {{constraints-list-display 
    constraints=promotion.constraints 
    minimumBasketTotal=promotion.minimumBasketTotal
  }}

  {{yield}}
</div>