
{{sign-up-form}}

{{!-- {{#form-for model
  submit=(route-action "signUp" model)
  as |f|
}}
  <div class="form-group">
    {{f.email-field "email" class="form-control"}}
  </div>
  <div class="form-group">
    {{f.password-field "password"
      hint="Must be atleast six characters long and include a capital letter"
      class="form-control"
    }}
  </div>
  <div class="form-group">
    {{f.password-field "passwordConfirmation"
      class="form-control"
    }}
  </div>

  {{f.reset  "Clear form"}}
  {{f.submit "Create account"}}
{{/form-for}} --}}